.container {
  padding: 4.5rem 4.5rem 3.75rem;
  position: relative;

  .bg-triangle {
    height: 14rem;
  }

  .sign {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 50%;

    &.paper {
      top: 0;
      left: 0;
    }

    &.scissors {
      top: 0;
      right: 0;
    }

    &.rock {
      bottom: 0;
      left: 50%;
    }
  }
}
