header {
    max-width: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    border: solid 2px rgba(255, 255, 255, 0.462);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 2rem;
    font-weight: 500;

    div {
        line-height: 2rem;
    }
}