.score-conteaner {
  display: grid;
  justify-items: center;
  width: 7rem;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem;
  background-color: #fafafa;
  border-radius: 0.375rem;

  .score-title {
    color: #4255c8;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
  }

  .score-number {
    color: #56556a;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.25rem;
    // letter-spacing: -4px;
  }
}
