.container-picked {
  display: flex;
  gap: 4rem;
  margin-top: 1.5rem;

  .picked {
    width: 17rem;
    display: grid;
    gap: 7rem;
    justify-items: center;

    h3 {
      color: white;
      font-weight: 600;
      letter-spacing: 3px;
    }
  }
}

.sign {
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
